node_modules/
.pnpm-store/

dist/
build/
.next/
out/
coverage/
.tmp/
.cache/

.env
.env.local
.env.*.local
.env.*.local

.vscode/
.idea/
.DS_Store

docker-data/

__pycache__/
.venv/

# misc
*.log
GIT
